* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mukta',
        sans-serif;
    color: black;
}

#wrap {
    width: 100%;
    height: 100vh;

}

header {
    display: flex;

    height: 3rem;
    width: 100vw;
}

#logo {
    z-index: 40;
    height: 3rem;
    min-width: 170px;
}

#logo a img {
    display: block;
    width: 137px;
    height: 4rem;
}

#nav {

    height: 3.5rem;
    padding-top: 0.6rem;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
    width: 100vw;


}

#nav a {
    text-decoration: none;
    color: black;
    transition-property: color;
    transition-duration: 0.5s;
}

#nav a:hover {
    color: orange;
}

#nav ul {
    margin-top: 10px;
}

#nav li {
    display: inline;
    font-weight: 600;
    padding: 0.5rem;
}

#home {
    height: 100vh;

}

#textHome {
    width: 560px;
    height: fit-content;
    z-index: -1;
    transform: translateY(-65vh) translateZ(0px) scale(1);
    padding-left: 30px;
    padding-right: 30px;
    width: 60vw;
    margin-left: 20%;
    align-content: flex-start;
}

#textHome p a {
    text-decoration: none;
    color: #000;
    transition-property: color;
    transition-duration: 0.5s;
}

#textHome p a:hover {
    text-decoration: none;
    color: #000;
    color: orange;
}

.parallaxHome {
    background-image: url('/assets/images/homeParallax.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#servicios {
    height: 100vh;
    margin-top: 16rem;
    margin-right: 12rem;
    margin-bottom: 20rem;
}


#boxServicios {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    margin-left: 6rem;
    margin-right: 8rem;
}

.boxText {
    width: 80%;
    font-weight: 600;
    margin-top: 6rem;
    margin-left: 10%;
}

.servicioCard img {

    object-fit: cover;
    height: 16rem;


}

.servicioCard {
    margin-bottom: 4rem;
}

#contacto {

    height: 100vh;
}

#contactoBoxForm {
    backdrop-filter: blur(10px);
    height: 650px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;

    z-index: 4;
    transform: translateY(-80vh) translateZ(0px) scale(1);
    padding-left: 40px;
    padding-right: 40px;
    width: 40vw;
    margin-left: 30%;
    align-content: flex-start;
}

.parallaxContacto {
    background-image: url('/assets/images/contacto_parallax.jpeg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.input-wrap {
    position: relative;

}

.inputBox{
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #000;
    background-color: transparent;
    outline: 2px solid #000;
    width: 100%;
    margin-bottom: 2rem;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transition: transform .25s;
}

.inputBox:focus+.input-label,
.inputBox:valid+.input-label {
    transform: translate(10px, -14px) scale(.8);
    color: #000000;
    padding-inline: 5px;
    background-color: #ff9d00;
}

.inputBox:is(:focus:valid) {
    outline-color: #ff9d00;
}

footer {
    background-color: #fff;
    height: 4rem;

}

footer ul {
    float: right;
}

footer li {
    display: inline;
    margin-right: 1rem;
    margin-top: 1rem;
    float: left;
}

footer a {
    text-decoration: none;
    color: #000;
    transition-property: color;
    transition-duration: 0.5s;
    font-weight: 600;
}

footer a:hover {
    color: orange;
}